@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fontawesome.com/icons/star?f=classic&s=solid');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
/*Main*/
.header{
    border: 1px solid black;
    background-color: black;
    width: 100%;
    height: 50px;
}

.container-1{
    width: 250px;
    vertical-align: middle;
    padding-top: 10px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 60px;
}
.container-1 input#search{
    width: 20px;
    height: 25px;
    background: #cacccf;
    border: 1px solid black;
    font-size: 10pt;
    float: left;
    color: #cacccf;
    padding-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(6, 4, 4);
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: 5px;
    padding-top: 5px;
    z-index: 1;
    color: #000000;
}
.container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    width: 300px;
  }
  .container-1:hover input#search{
  width: 200px;
  }
  .container-1:hover .icon{
    color: #000000;
  }
  /* Menu */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    background-color: black;
    width: 100%;
}

nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    top: 0;
    transform: translateX(55%);
    align-items: center;
}
nav ul li:hover{
    opacity: 1.0;
    filter: alpha(opacity 10 0);
}
nav ul li{
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

nav ul li, a{
    color: white;
}

.main{
    position: relative;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
/* .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    /* background: #12263a; */
 
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}

.product-detail table{
    background-color: white;
}

#cauhinh{
    background-color: gainsboro;
}

.product-detail tr th{
    text-align: left;
}

.product-detail ul{
    list-style-type: none;
    position: relative;
    margin: auto;
    float: right;
    text-align: right;
    line-height: 30px;
    font-weight: lighter;
    top: -3px;
    
    
}




.product-detail table{
    background-color: white;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1.5rem;
    }

    
    .card-wrapper{
        
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .product-imgs{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    .product-content{
        padding-top: 0;
    }

}


button{
    width: 100px;
    height: 30px;
}

.product-Info{
    font-size: 130%;
    line-height: 130%;
}

.product-Info p{
    font-size: medium;
}

.star{
    padding-left: 100px;
}

.rate {
    float: left;
    height: 46px;
    padding-left: 85px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

























