body{
    padding: 0px;
    margin: 0px;
    background: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.container>nav{
    padding-left: 10%;
    padding-top: 10px;
    line-height: 40px;
    background:none;
    font-weight: bold;
}
.container>nav a{
    border: 1px solid black;
    border-color: aqua;
    color: black;
    text-decoration: none;
    margin-left: 25px;
    font-size: large;
}
.container>nav a:hover{
    background-color: #ff0000;
    color:yellow;
    text-decoration: none;
}
.container>nav a>button{
    height: 25px;
    width: 100px;
    background-image: linear-gradient(blue, orange);
    border: none;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.container>nav a:hover>button{
    height: 25px;
    width: 100px;
    background-image: linear-gradient(orange,blue);
    border: none;
    color: white;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}
h1{
    padding-top: 50px;
    color: black;
    font-size: 40px;
}
.lon{
    background-image: url('Anh/backgroundlogin.jfif');
    margin-top: 50px;
    height: 500px;
    width: 400px;
    position: relative;
    border-radius: 20px;
}
.user{
    height: 25px;
    width: 300px;
    outline: none;
    border: none;
    margin: 20px;
    background:none;
    border-bottom: 1px solid black;
    background-image: url('Anh/user.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.pass{
    height: 25px;
    width: 300px;
    outline: none;
    border: none;
    margin: 20px;
    background: none;
    border-bottom: 1px solid black;
    background-image: url('Anh/Pass.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.remember{
    position: absolute;
    left: 32px;
}
article a{
    position: absolute;
    right: 35px;
    text-decoration: none;
}
.dangnhap{
    height: 30px;
    width: 330px;
    margin: 25px;
   /* background-color: rgb(194, 18, 77); */
    color: white;
    border: none;
    margin-bottom: 0;
}
.dangnhap:hover{
    background-color: palevioletred;
    color: yellow;
}
.facebook{
    color: white;
    background-color: blue;
    height: 30px;
    width: 150px;
    margin: 5px;
    border: none;
    background-image: url('Anh/facebook.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 30px;
    position: absolute;
    left: 30px;
}
.facebook:hover{
    background-color: rgb(103, 103, 231);
    color: goldenrod;
}
.google{
    position: absolute;
    right: 30px;
    color: white;
    background-color: rgb(206, 90, 128);
    height: 30px;
    width: 150px;
    margin: 5px;
    border: none;
    background-image: url('Anh/google.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.google:hover{
    background-color: pink;
    color: yellowgreen;
}
h4{
    padding-top: 3px;
    border-radius: 90px;
    background-color: blueviolet;
    color: white;
    width: 30px;
    height: 25px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.for{
    position: absolute;
    right: 50px;
}
